ultralytics
IPython
roboflow
fastapi==0.115.12
uvicorn==0.34.2
opencv-python==4.11.0.86
numpy==1.26.4  # Compatible with TensorFlow and other packages
ultralytics==8.3.123
python-multipart==0.0.20
websockets>=11,<15